<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Integround.Components.Core" publicKeyToken="f6f5c3eed58d1f98" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.33659" newVersion="1.6.0.33659" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>